.titleContainer {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  min-width: 0;
  overflow: hidden;
}

.title {
  @add-mixin truncate;

  color: var(--ink);
}

.year {
  flex-shrink: 0;
  margin-right: 4px;
  margin-left: 4px;
  font-size: $smallFontSize;
  color: var(--inkMuted);
}

.existing {
  flex-shrink: 0;
  margin-left: 4px;
  color: var(--inkMuted);
}
