.cell {
  padding: 12px 10px;
  border-top: 1px solid var(--borderColor);
  font-family: $defaultFontFamily;
  font-size: 13px;
  line-height: 1.4;
  color: var(--ink);
}

@media only screen and (max-width: $breakpointMedium) {
  .cell {
    white-space: nowrap;
  }
}
