.filterContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.filterText {
  margin-left: 5px;
}

.footer {
  composes: modalFooter from '~Components/Modal/ModalFooter.css';

  justify-content: space-between;
}

.leftButtons,
.rightButtons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  min-width: 0;
}

.rightButtons {
  justify-content: flex-end;
}

.deleteButton {
  composes: button from '~Components/Link/Button.css';
}

.importMode,
.bulkSelect {
  composes: select from '~Components/Form/SelectInput.css';

  max-width: 100%;

  width: auto;
}

.errorMessage {
  color: var(--dangerColor);
}

@media only screen and (max-width: 768px) {
  .footer {
    align-items: stretch;
    flex-direction: column;
  }
}
