.intro {
  font-size: 13px;
  line-height: 1.55;
  max-width: 70ch;
  color: var(--inkMuted);
  margin-bottom: 16px;
}

.deleteButton {
  composes: button from 'Components/Link/Button.module.css';

  margin-right: auto;
}
