.inputContainer {
  display: flex;
  margin-bottom: 10px;
}

.inputIconContainer {
  width: 58px;
  height: 46px;
  border: 1px solid var(--inputBorderColor);
  border-right: none;
  border-radius: 8px 0 0 8px;
  background-color: var(--inputIconContainerBackgroundColor);
  text-align: center;
  line-height: 46px;
}

.input {
  composes: input from '~Components/Form/TextInput.css';

  height: 46px;
  border-radius: 0;
  font-size: 18px;
}

.clearButton {
  border: 1px solid var(--inputBorderColor);
  border-left: none;
  border-radius: 0 8px 8px 0;
}

.message {
  margin-top: 30px;
  color: var(--inkSoft);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.helpText {
  margin-bottom: 10px;
  color: var(--ink);
  font-weight: 600;
  font-size: 16px;
}

.modalFooter {
  composes: modalFooter from '~Components/Modal/ModalFooter.css';

  justify-content: space-between;
}

.loading {
  composes: loading from '~Components/Loading/LoadingIndicator.css';

  margin-top: 0;
}
