.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 20px;
  height: var(--toolbarHeight);
  background-color: var(--toolbarBackgroundColor);
  color: var(--toolbarColor);
  border-bottom: 1px solid var(--borderColor);
}

@media only screen and (max-width: 768px) {
  .toolbar {
    padding: 0 12px;
  }
}
